.login-container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.login-card{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 22rem;
    margin: 0 auto;
    border-radius: 15px;
}

    .login-card form{
        width: 75%;
    }

    .login-card .form-control {
        border-radius: 2rem;
        height: 3rem;  
        margin: 0.5rem auto;      
    }

    .login-card .btn {
        border-radius: 2rem;
        width: 100%;
        height: 3rem;
        padding: 8px 3rem;
        margin: 1rem auto;
    }

.login-card h2 {
 color: #171A4A;
 margin-bottom: 1rem;
}

.checkbox {
    margin-left: 0.7rem;
}

.login-card span{
    text-align: center;
}